/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #ffffff;
    --nav-color: #00C6AB;
    --side-nav: #6AA3B4;
    --text-color: #ffffff;
    --search-bar: #ffffff;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}
.card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    height: 90%;
    background-color: #ffffff; /* Set your desired background color */
}

.card {
    flex: 1;
    max-width: 400px; /* Set the width of each card */
    height: 500px; /* Set the height of each card */
    padding: 20px; /* Add padding to the cards */
    margin: 10px; /* Adjust the margin around each card */
    background-color: #ffffff; /* Set your desired card background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
    border-radius: 8px;
    text-align: center;
}

.card.card-with-image {
    position: relative;
    height: 500px; /* Set the height of the card with image */
    width: 400px; /* Set the width of the card with image */
    border: solid rgb(255, 255, 255);
}

.card-image-container {
    border-radius: 50%;
    overflow: hidden;
    width: 70%; /* Set the width of the circular image container */
    height: 50%; /* Set the height of the circular image container */
    margin: 0 auto 5px; /* Adjust the bottom margin for the image container */
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #000000; /* Set your desired border color */
}

.card h2 {
    color: #333; /* Set your desired heading color */
}

.card p {
    color: #666; /* Set your desired paragraph color */
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .card {
        flex: 1 0 100%; /* Full width for smaller screens */
        margin: 10px 0; /* Adjust the margin for smaller screens */
    }

    .card.card-with-image {
        width: 100%; /* Full width for cards with images on smaller screens */
    }
}
.progress {
    position: relative;
    width: 210px;
    height: 30px;
    background: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto; /* Agrega esta línea para centrar la barra de progreso horizontalmente */
}
.progress__fill{
    width: 0%;
    height: 100%;
    background: #00C6AB;
    transition: all 0.2s;
}
.progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px 'Quicksand', sans-serif;
    color: #ffffff;
}
.card2 {
    flex: 1;
    max-width: 400px; /* Set the width of each card */
    height: 500px; /* Set the height of each card */
    padding: 20px; /* Add padding to the cards */
    margin: 10px; /* Adjust the margin around each card */
    background-color: #ffffff; /* Set your desired card background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
    border-radius: 8px;
    text-align: center;
}

.card2.card-with-image2 {
    position: relative;
    height: 500px; /* Set the height of the card with image */
    width: 400px; /* Set the width of the card with image */
    border: solid rgb(255, 255, 255)
}

.card-image-container2 {
    overflow: hidden;
    display: inline-flex; /* Para que el contenedor se ajuste al tamaño de la imagen */
    justify-content: center; /* Centrar horizontalmente la imagen */
    align-items: center; /* Centrar verticalmente la imagen */
    width: 50px;
    height: 50px;
}


.card-image-container2 img {
    max-width: 100%; /* Make sure the image doesn't overflow its container */
    max-height: 100%; /* Make sure the image doesn't overflow its container */
    object-fit: cover;
    border: 2px solid #ffffff; /* Set your desired border color */
}

.card2 h2 {
    color: #333; /* Set your desired heading color */
}

.card2 p {
    color: #666; /* Set your desired paragraph color */
    font-size: 14px;

}


/* Responsive Styles */
@media (max-width: 768px) {
    .card2 {
        flex: 1 0 100%; /* Full width for smaller screens */
        margin: 10px 0; /* Adjust the margin for smaller screens */
    }

    .card2.card-with-image {
        width: 100%; /* Full width for cards with images on smaller screens */
    }
}
.progress2 {
    position: relative;
    width: 210px;
    height: 30px;
    background: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;;
}

.progress__fill2 {
    width: 0%;
    height: 100%;
    background: #00C6AB;
    transition: all 0.2s;
}

.progress__text2 {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px 'Quicksand', sans-serif;
    color: #ffffff;
}
.card3 {
    flex: 1;
    max-width: 400px; /* Set the width of each card */
    height: 500px; /* Set the height of each card */
    padding: 20px; /* Add padding to the cards */
    margin: 10px; /* Adjust the margin around each card */
    background-color: #ffffff; /* Set your desired card background color */
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
}

.card3.card-with-image3 {
    position: relative;
    height: 500px; /* Set the height of the card with image */
    width: 400px; /* Set the width of the card with image */
    border: solid rgb(255, 255, 255)
}

.card-image-container3 {
    width: 50px; /* Define el ancho del contenedor de imagen */
    height: 50px; /* Define la altura del contenedor de imagen */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor circular */
}

.card-image-container3 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid #ffffff; /* Set your desired border color */
}

.card3 h2 {
    color: #333; /* Set your desired heading color */
}

.card3 p {
    color: #666; /* Set your desired paragraph color */
    font-size: 14px;

}


/* Responsive Styles */
@media (max-width: 768px) {
    .card3 {
        flex: 1 0 100%; /* Full width for smaller screens */
        margin: 10px 0; /* Adjust the margin for smaller screens */
    }

    .card3.card-with-image3 {
        width: 100%; /* Full width for cards with images on smaller screens */
    }
}
.card4 {
    flex: 1;
    max-width: 400px; /* Set the width of each card */
    height: 500px; /* Set the height of each card */
    padding: 20px; /* Add padding to the cards */
    margin: 10px; /* Adjust the margin around each card */
    background-color: #ffffff; /* Set your desired card background color */
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
}

.card4.card-with-image4 {
    position: relative;
    height: 500px; /* Set the height of the card with image */
    width: 400px; /* Set the width of the card with image */
    border: solid rgb(255, 255, 255);
}

.card-image-container4 {
    width: 80px; /* Define el ancho del contenedor de imagen */
    height: 50px; /* Define la altura del contenedor de imagen */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    border-radius: 100%; /* Hace que el contenedor sea circular */ /* Oculta cualquier parte de la imagen que se salga del contenedor circular */
}

.card-image-container4 img {
    width: 40px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #ffffff; /* Set your desired border color */
}

.card4 h2 {
    color: #333; /* Set your desired heading color */
}

.card4 p {
    color: #666; /* Set your desired paragraph color */
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .card4 {
        flex: 1 0 100%; /* Full width for smaller screens */
        margin: 10px 0; /* Adjust the margin for smaller screens */
    }

    .card4.card-with-image4 {
        width: 100%; /* Full width for cards with images on smaller screens */
    }
}
