/*caja general*/
.custom-footer {
    background-color: #666;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*datos izquierda*/
#info {
    text-align: left !important;
    font-family: 'Poppins';
    font-size: small;
    color: white;
    margin: 10px 10px 0px 0px; 
}

/*logo renca*/
.logo-renca {
    width: 100px;
    margin-left: 100px;
    margin-right: 0%;
}

/*iconos izquierda*/
.contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 26%;

}

.pin,
.phone,
.mail {
    width: 20%;
    margin-left: 100px;
    margin-top: 18px;
    
}

/*iconos y texto derecha*/
#redesSociales {
    margin-right: 5%;
}

.RRSS {
    width: 5%;
}

.align-right {
    text-align: right;
}