/* index.css */

body {
  background: linear-gradient(
    to right,
    #f56524 16.7%,
    #fca227 16.7% 33.4%,
    #cac600 33.4% 50.1%,
    #009A88 50.1% 66.8%,
    #58b3b0 66.8% 83.5%,
    #0088d4 83.5% 100%
  );
}

.titulo {
  text-align: center;
}

.logo {
  width: 10%;
  justify-content: center;
}

/* Media queries para ajustar estilos en pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  .formulario {
    padding: 10px;
  }
}
