
main * {
    font-family: poppins;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: grid;
    background-color: #ffffff;
}

/*Titulo subir curso*/
.grupo-2 {
    text-align: left;
    margin-left: 25px;
}

/*Toda la seccion debajo del titulo*/
.grupo-1 {

    max-width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 100px;
    background-color: #f7f7f7;
}

/*Zona izquierda*/
#dropZ {
    margin-top: 100px;
}

/*nube*/
.custom-icon {
    font-size: 100px;
    color:#60BDB1;
}

/*Todos los textos*/
h4 {
    margin-top: 30px;
    margin-bottom: 20px;
}

/*No sé*/
.box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start; /* Alinear elementos al principio */
    align-items: center;
    margin-left: 25px;
}

/*Sección derecha*/
.box-3 {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: right;
    margin-top:15px;
}

    
.cuadrado {/*cuadrado arriba de miniatura*/
        width: 200px; 
        height: 150px;
        background-color: #ccc; 
        position: flex;
        top: 0;
        margin-bottom: 10px;
}

.selectFile {
    margin-bottom: 20px; 
  }
  
  /*botones de seleccionar archivo*/
  .selectFile label {
    display: block; 
    background-color: #60BDB1; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
  }
  
  .selectFile input[type="file"] {
    display: none; /* Ocultar el input de tipo file */
  }

  /* Media query para dispositivos móviles */
@media (max-width: 576px) {
    .grupo-1 {
        grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna */
        padding: 30px; /* Reduce el padding */
    }

    #dropZ {
        margin-top: 30px; /* Ajusta el margen superior */
    }

    .custom-icon {
        font-size: 60px; /* Reduce el tamaño del ícono */
    }

    .box {
        text-align: center; /* Centra el contenido en dispositivos móviles */
    }

    .box figure {
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .box-3 {
        margin-top: 30px; /* Ajusta el margen superior */
    }

    .cuadrado {
        width: 100%; /* Ajusta el ancho al 100% */
        height: auto; /* Ajusta la altura automáticamente */
        margin-bottom: 20px; /* Ajusta el margen inferior */
    }

    .selectFile label {
        margin-bottom: 10px; /* Reduce el margen inferior */
    }
}
